p {
  color: blue: font-size: 20px;
  font-family: arial, helvetica, sans-serif;
}

body {
  background-color: gray
}

/* ul { color: red;
background-color: rgb(255, 255, 255) } */

a {
  color: red;
}

.box_textshadow {
  text-shadow: 2px 2px 2px  rgba(255, 255, 255, 0.699); /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
}

.box_textshadow1 {
  text-shadow: 2px 2px 2px  rgba(17, 0, 248, 0.781); /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
}

.box_textshadow2 {
  text-shadow: 2px 2px 2px  rgba(255, 1, 1, 0.712); /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
}

#my-site {
  background-color: rgb(243, 6, 6);
  font-size: 100px;
  margin-top: 0%;
  text-align: center;
  color: rgb(0, 0, 0);
  font-variant-caps: all-petite-caps font-family: sans-serif;
  font-style: bold;
  border-width: 5px;
  border-color: black;
  border-style: solid;
  background-image: url("red1.png");
  background-repeat: repeat;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

#heading-2 {
  background-color: rgb(255, 0, 0);
  font-size: 30px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-variant-caps: all-petite-caps;
  border-width: 5px;
  border-color: black;
  border-style: solid;
  background-image: url("red1.png");

  background-repeat: repeat;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  
}

#heading-3 {
  background-clip: border-box;
  background-color: black;
  color: rgba(255, 255, 255, 0.87);
  font-stretch: auto;
  font-variant-caps: bold;
  text-align: center;
  border-width: 5px;
  border-color: rgb(48, 47, 47) grey;
  border-style: double;
  padding: 5px 5px 5px 5px;
  background-image: url("black.png");
  box-sizing: border-box;
  object-fit: stretch;
  width: auto;
  height: auto;
  margin: auto;
  width: 50%;
  
}

#heading-4 {
  background-color: rgb(255, 0, 0);
  font-size: 1px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-variant-caps: all-petite-caps;
  border-width: 5px;
  border-color: black;
  border-style: solid;
  background-image: url("red1.png");
  background-repeat: repeat;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

#imgs4 {
  height: 45%;
  width: 45%;
}


.imgs5 {
  height: 50%;
  width: 50%;
  border-width: 15px;
  border-color: black;
  border-style: solid;
}


#Tank {
  display: flex;
  align-items: flex-start;
}

.center, img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.border {
  border-width: 15px;
  border-color: black;
  border-style: solid;
}

.border2 {
  border-width: 15px;
  border-color: black;
  border-style: solid;
 }

/* Add a black background color to the top navigation */

.topnav {
  background-color: #333;
  overflow: hidden;
  border-left: 5px;
  border-right: 5px;
  border-top: 5px;
  border-bottom: 0px;
  border-color: black;
  border-style: solid;
  object-fit: center;
  width: auto;
  height: auto;
  background-image: url("grey1.png");
  box-sizing: border-box;
  object-fit: stretch;
  width: auto;
  height: auto;
  
   
}

/* Style the links inside the navigation bar */

.topnav a {
 
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 50px 10px 50px;
  text-decoration: none;
   font-size: 17px;
  background-color: #333;
  border-left: 2px;
  border-right: 2px;
  border-top: 2px;
  border-bottom: 2px; 
  border-color: black;
  border-style: solid;
  background-image: url("darkgrey.png");
  box-sizing: border-box;
  object-fit: center;
  width: auto;
  height: auto;
  
  
  
}



/* Change the color of links on hover */

.topnav a:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(253, 93, 0);
  border-left: 2px;
  border-right: 2px;
  border-top: 2px;
  border-bottom: 2px; 
  border-color: rgb(255, 0, 0);
  border-style: solid;
  text-decoration: none;
   font-size: 18px;
   width: auto;
  height: auto;
}

/* Add a color to the active/current link */

/* .topnav a.active {
  background-color: rgb(85, 4, 4);
  color: white;
  border-left: 5px;
  border-right: 5px;
  border-top: 4px;
  border-bottom: 4px;
  border-color: black;
  border-style: solid;
  object-fit: center;
  width: auto;
  height: auto;
} */

p em {
  color: black
}

#footer {
  font-size: 25px;
  font-style: italic;
  color: beige;
  background-color: #333;

  border-width: 5px;
  border-color: black;
  border-style: solid;
  margin-bottom: auto;
  background-image: url("darkgrey.png");
  display: grid;
  grid-template-columns: [sidebar] 0.5fr
  [main-start] 1fr
  [main-end];
  /* grid-template-columns: repeat(3, minmax(200px, auto)); */
  /* grid-template-rows: repeat (3, 200px); */
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  
  
}

.centertopnav {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#text1 {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

a:link {
  color: rgb(255, 255, 255);
}

/* unvisited link */

a:visited {
  color: rgb(255, 255, 255);
}

/* visited link */

a:hover, a:focus {
  color: rgb(41, 56, 138);
}

/* mouse over or select with keyboard*/

a:active {
  color: rgb(9, 255, 0);
}

/* selected link */

#social {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  border-top: 0px;
  border-bottom: 0px;
  border-left: 3px;
  border-right: 3px;
  border-color: black;
  border-style: solid;
  display: block;
 
}







#aside {
  border: 2px solid rgb(0, 0, 0);
  width: 900px;
  margin-left: 0em;
  margin-right: 0em;
  padding: 10px 10px 10px 10px;
  box-sizing: border-box;
  background: url(white4.png);
  background-repeat: no-repeat;
   background-size: cover; 
  
}

#table1 {
  position: relative;
  top: -65px;
  left: 800px;
}

.image-with-caption {
  position: relative;
}

.image-with-caption img {
  width: auto;
  
  
}

.image-with-caption div {
  position: absolute;
  bottom: 30px;
  width: 100%;
  text-align: center;
}

.image-with-caption p {
  /* display: relative; */
  margin: 0 auto;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  display: inline-block;
  padding: 0.5rem;
}

* {
  box-sizing: border-box;
}

nav {
  width: 100%;
  margin-bottom: 2rem;
  border: 2px solid orange;
}

nav a {
  display: block;
  padding: 0.5rem;
  background: lightblue;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-decoration: none;
  text-align: center;
}

nav .products {
  background-color: lightgreen;
}

nav .contact {
  background-color: lightcoral;
}

.frontpage {
  background-image: url("red.png");
  background-color: #cccccc;
  background-repeat: repeat;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 
 }

 .pagebackground {
  background-image: url("lightgrey.png");
  background-color: #cccccc;
  background-repeat: repeat;
  background-position: center;  
   background-repeat: no-repeat;
   background-size: cover; 
  } 

  /* #headbackground {
  background-image: url("red1.png");
  background-color: #cccccc;
  background-repeat: repeat;
  background-position: center;  
   background-repeat: no-repeat;  
   background-size: cover;  
  }  */


 <style>
  .parallax {
    /* The image used */
    background-image: url("red.png");
  
    /* Set a specific height */
    height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
 </style>
  
  /* <!-- Container element --> */
 